@model List<project.Models.EntityFramework.Project>

@{
    Dictionary<int, int> contributions = (Dictionary<int, int>) ViewData["contributions"];
    DateTime reportMonth = (DateTime) ViewData["reportMonth"];

    string inspectAction = "Inspect";
    if((string) ViewData["Title"] != "Affected Projects")
        {
            inspectAction = "InspectReports";
        }
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if((string) ViewData["Title"] == "Affected Projects")
    {
        <h2>@reportMonth.Month - @reportMonth.Year</h2>
    }
</div>

@if((string) ViewData["Title"] == "Affected Projects")
{
    <a style="margin-left: 5px" asp-route-nextMonth="-1" asp-action="Index" type="button" class="btn btn-success">Previous</a>
    <a style="margin-left: 5px" asp-route-nextMonth="1" asp-action="Index" type="button" class="btn btn-success">Next</a>
    <a style="margin-left: 5px" asp-action="CheckReports" type="button" class="btn btn-success">Froze Month</a>
}

@if(Model is not null && Model.Count > 0)
{
    <div class="container p-3">  
        <table class="table table-bordered table-striped" stype="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Active</th>
                    <th>Description</th>
                    @if(contributions != null)
                    {
                        <th>Time Contribution</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (project.Models.EntityFramework.Project project in Model)
                {
                    
                    <tr>    
                        <td width="10%">@project.Name</td>
                        <td width="5%">@project.ID</td>
                        <td width="2%">@project.Active</td>
                        <td width="25%">@project.Description</td>
                        @if(contributions != null)
                        {
                            <td width="5%">@contributions[project.ID]</td>
                        }
                        <td width="1%">
                            <a 
                                asp-action=@inspectAction 
                                asp-route-projectId=@project.ID 
                                class="btn btn-info" 
                                tyle="margin-left: 5px">
                                Inspect
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}else{
    <p>No data</p>
}

@if((string) ViewData["Title"] == "Affected Projects")
{
    <a style="margin-left: 5px" asp-action="ManageReports" type="button" class="btn btn-success">Owned Projects</a>
}