 @model List<project.Models.EntityFramework.Activity>

@{
    bool reportInspectView = false;

    List<string> recordKeys;

    int budget = 0;
    int usedBudget = 0;

    bool isProjectActive = true;

    if (ViewData["recordKeys"] != null)
    {
        reportInspectView = true;
        budget = (int) ViewData["budget"];
        usedBudget = (int) ViewData["usedBudget"];
        recordKeys = (List<string>) ViewData["recordKeys"];
        isProjectActive = (bool) ViewData["isProjectActive"];
    }
    else
        recordKeys = new List<string>();

    string projectId = (string) ViewData["projectId"];

    <h2>@projectId</h2>
    <div></div>
    @if (reportInspectView)
    {
        string style = usedBudget > budget ? "color : red" : "color : green";
        var diff = budget - usedBudget;

        <div>
            <h2 style="display:inline-block">Remaining Budget : </h2>
            <h2 style="@style; display:inline-block">@diff/@budget</h2>
        </div>
    }

    @if (Model is not null && Model.Count > 0)
    {
        <div class="container p-3">
            <table class="table table-bordered table-striped" stype="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    @if (reportInspectView)
                    {
                        <td>Employee</td>
                    }
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Accepted Duration</th>
                    <th>Difference</th>
                    @if (reportInspectView && isProjectActive)
                    {
                        <th></th>
                    }
                </tr>
                </thead>
                <tbody>

                @for (int index = 0; index < Model.Count; index++)
                {
                    project.Models.EntityFramework.Activity activity = Model[index];

                    <tr>
                        <td width="25%">@activity.Name</td>

                        @if (reportInspectView)
                        {
                            <td>@activity.Employee.Name @activity.Employee.Surname</td>
                        }

                        <td width="40%">@activity.Description</td>
                        <td width="5%">@activity.DurationMinutes</td>

                        @if (reportInspectView && isProjectActive)
                        {
                            string inputId = "input" + index;

                            if (activity.Frozen)
                            {

                                if (activity.AcceptedTime is not null)
                                {
                                    string placeholder = activity.AcceptedTime.ToString();
                                    int difference = activity.AcceptedTime.Value - activity.DurationMinutes;
                                    string style = difference >= 0 ? "color : green" : "color : red";
                                    string sign = "";

                                    if (difference > 0)
                                    {
                                        sign = "+";
                                    }

                                    <td>
                                        <input id=@inputId placeholder=@placeholder type="text">
                                    </td>
                                    <td style="@style">@sign@difference</td>
                                }
                                else
                                {
                                    <td>
                                        <input id=@inputId placeholder="none" type="text">
                                    </td>
                                    <td>none</td>
                                }
                                <td>
                                    <button
                                        class="btn btn-info w-100"
                                        onclick="submitChange(@activity.ID, @activity.ReportID, @index)">
                                        Change
                                    </button>
                                </td>

                            }
                            else
                            {
                                <td width="5%">none</td>
                                <td width="5%">none</td>
                            }
                        }
                        else
                        {

                            if (activity.AcceptedTime is not null)
                            {
                                string placeholder = activity.AcceptedTime.ToString();
                                int difference = activity.AcceptedTime.Value - activity.DurationMinutes;
                                string style = difference >= 0 ? "color : green" : "color : red";
                                string sign = "";

                                if (difference > 0)
                                {
                                    sign = "+";
                                }

                                <td>@activity.AcceptedTime</td>
                                <td style="@style">@sign@difference</td>
                            }
                            else
                            {
                                <td>none</td>
                                <td>none</td>
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No data</p>
    }
    
    <div class="row col-8 offset-2">
        <div class="col">
            <a asp-action="Index" class="btn btn-info w-100">Back</a>
        </div>
    </div>
    
    <form id="post-form" hidden asp-action="EditReport" method="post">
        <input id="in1" name="activityId">
        <input id="in2" name="reportId">
        <input id="in3" name="newValue">
    </form>

    <script>
    function submitChange(id, key, inputId){
        console.log("input id")
        console.log(inputId)
        console.log("act id")
        console.log(id)
        console.log(key)

        const newValue = document.getElementById("input" + inputId).value;
        console.log(newValue)

        document.getElementById("in3").value = newValue
        document.getElementById("in2").value = key
        document.getElementById("in1").value = id

        if (newValue)
            document.getElementById("post-form").submit()
    }
</script>
} 