@model project.Models.EntityFramework.Activity;

@{
    ViewData["Title"] = "Edit Activity";
    project.Models.EntityFramework.Project project = (project.Models.EntityFramework.Project)ViewData["project"];
    string concurrency = (string)ViewData["concurrency"];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


@if (concurrency is not null)
{
    <p style="color:red">@concurrency</p>
}
@if (Model is not null)
{
    <form asp-action="Edit" method="post">
        <input asp-for="ID" hidden />
        <input asp-for="Frozen" hidden />
        <input asp-for="ProjectID" hidden />
        <input asp-for="DateCreated" hidden />
        @Html.HiddenFor(m => m.Timestamp)

        <div class="border p-3">
            <div class="form-group row">
                <h2 class="text-info pl-3">@ViewData["Title"]</h2>
            </div>
            <div class="row">
                <div class="col-8">

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="DurationMinutes"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="DurationMinutes" class="form-control" />
                            <span asp-validation-for="DurationMinutes" min="0" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Description"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label>subActivities</label>
                        </div>

                        <div class="col-8">
                            <select id="subAct-field"
                                    asp-for="Tag"
                                    asp-items="@(new SelectList(project.Tags.Select(tag => tag.Name)))">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-8 offset-4 row">

                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Edit" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
    </form>
}

@if (concurrency is not null)
{
    <div class="col">
        <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
    </div>
}
